
@{
    ViewBag.Title = "Index";
}

<h2>Asiakastapahtumat</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Asiakas</th>
            <th>Päivämäärä</th>
            <th>Yhteydenotto</th>
            <th>Tapahtuman kuvaus</th>
            <th>Ratkaisu</th>
        </tr>
    </thead>
    <tbody>

        @foreach (ProtoV1.Models.Asiakastapahtumat atap in Model)
        {
            <tr>
                <td>@atap.AsiakkaanPerustiedot.Etunimi @atap.AsiakkaanPerustiedot.Sukunimi</td>
                <td>@atap.Päivämäärä</td>
                <td>@atap.Yhteydenotto</td>
                <td>@atap.Kuvaus</td>
                <td>@atap.Ratkaisu</td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button>@Html.ActionLink("Lisää uusi tapahtuma", "Create")</button>
    </div>
</div>



