
@model IEnumerable<ProtoV1.Models.Laskutustiedot>
@{
    ViewBag.Title = "Index";
}

<h2>Laskutustiedot</h2>


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asiakasnumero)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Asiakasnumero)
                </td>
            }
        </tr>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Etunimi)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Etunimi)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sukunimi)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Sukunimi)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Osoite)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Osoite)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Postinumero)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Postinumero)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AsiakkaanPerustiedot.Postitoimipaikat.Postitoimipaikka)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.AsiakkaanPerustiedot.Postitoimipaikat.Postitoimipaikka)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Puhelin)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Puhelin)
                </td>
            }
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sähköposti)
            </th>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Sähköposti)
                </td>
            }
        </tr>
    </thead>
</table>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <button>@Html.ActionLink("Tallenna muutokset", "Index")</button> &nbsp; &nbsp; &nbsp; &nbsp;<button>@Html.ActionLink("Seuraava", "Index", "Asiakasluokittelu")</button>
    </div>
</div>
<div>
    @Html.ActionLink("Takaisin", "Index", "Asiakastiedot")
</div>











