
@model IEnumerable<ProtoV1.Models.AsiakkaanPerustiedot>
@{
    ViewBag.Title = "Index";
}

<h2>Asiakkaan perustiedot</h2>


 <table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asiakasnumero)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Etunimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sukunimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osoite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postinumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puhelin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sähköposti)
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Asiakasnumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sukunimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osoite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postinumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puhelin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sähköposti)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Asiakasnumero">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Asiakasnumero">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Asiakasnumero">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>









